<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="TechFellowConsulting.ATMFinder" Publisher="CN=3AB4637C-0DED-4DFD-AC2A-5BE19852449F" Version="1.3.0.0" />
  <Properties>
    <DisplayName>ATM Finder</DisplayName>
    <PublisherDisplayName>Tech Fellow Consulting</PublisherDisplayName>
    <Logo>Assets\50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Viiar.AtmFinder.W8.App">
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
      <m2:VisualElements DisplayName="ATM Finder" Description="ATM Finder for Windows 8" BackgroundColor="#10A0E1" ForegroundText="light" ToastCapable="false" Square150x150Logo="Assets\150x150.png" Square30x30Logo="Assets\30x30.png">
        <m2:DefaultTile ShortName="ATM Finder" Wide310x150Logo="Assets\310x150.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#10A0E1" Image="Assets\620x300.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>